<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>The questionnare was completed!</mat-card-title>
        <mat-card-subtitle>Text here, if you want</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/svg/undraw_project_completed.svg"
        alt="Photo representing questionnare completition">
    <mat-card-content>
        <p>
            A long text here if you want. A long text here if you want. A long text here if you want. A long text here
            if you want. A long text here if you want.
        </p>
    </mat-card-content>
</mat-card>