<div>
    <mat-card>
        <app-dynamic-form *ngIf="questions" [onFormValid]="doFormValid" [questions]="questions" [types]="types">
        </app-dynamic-form>
    </mat-card>
    <div *ngIf="group && group.isLastGroup;else finish_button" class="right-button">
        <button [disabled]="isDisabled" (click)="finishSurvey()" type="button" mat-flat-button
            color="primary" matStepperNext>{{ 'commom.finish' | translate }}</button>
    </div>
    <ng-template #finish_button>
        <div class="right-button">
            <button [disabled]="isDisabled" (click)="goNextAndSaveForm()" type="button" mat-flat-button color="primary"
                matStepperNext>{{ 'commom.next' | translate }}</button>
        </div>
    </ng-template>
</div>