<div class="container">
  <app-title icon="poll" title="appointment.form.title">
    <button mat-flat-button color="primary" [routerLink]="['new']">{{ 'app_title.new' | translate }}</button>
  </app-title>

  <mat-card>
    <!-- <app-table [data]="data" [radio]="true" [columns]="columns" [edit]="true" (editEmitter)="edit($event)" [delete]="true" (deleteEmitter)="delete($event)" [toggle]="true" (toggleEmitter)="toggle($event)">
      <ng-template appTableHeader>
        <th>No.</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Symbol</th>
      </ng-template>

      <ng-template let-item appTableColumns>
        <td>
          {{ item.position }}
        </td>

        <td>
          {{ item.name }}
        </td>

        <td>
          {{ item.weight }}
        </td>

        <td>
          {{ item.symbol }}
        </td>
      </ng-template>

      <ng-template appBtnActions>
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="primary">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
    </app-table> -->
  </mat-card>
</div>
