<app-title icon="poll" [title]="group ? group.group : 'group.list.title'">
  <button mat-flat-button color="primary" [routerLink]="['../new']">{{ 'app_title.new' | translate }}</button>
</app-title>

<mat-card>
  <table>
    <thead>
      <tr>
        <th>{{ 'group.form.group' | translate }}</th>
        <th>{{ 'form.order' | translate }}</th>
        <th class="actions">{{ 'table.actions' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let group of groups">
        <td>{{ group.group }}</td>
        <td>{{ group.order }}</td>
        <td class="actions">
          <button type="button" mat-mini-fab color="primary" (click)="questions(group)" matTooltip="{{ 'group.list.tooptip.questions' | translate }}">
            <mat-icon>format_list_bulleted</mat-icon>
          </button>

          <button type="button" mat-mini-fab color="accent" (click)="edit(group)" matTooltip="{{ 'table.buttons.edit' | translate }}">
            <mat-icon>edit</mat-icon>
          </button>

          <button type="button" mat-mini-fab color="warn" (click)="delete(group)" matTooltip="{{ 'table.buttons.remove' | translate }}">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>
