<form [formGroup]="formGroup" (submit)="formSubmit()">
  <div>
    <mat-form-field>
      <mat-select formControlName="patientId" required placeholder="{{ 'responsible.identification.choose_patient' | translate }}">
        <mat-option *ngFor="let patient of patients" [value]="patient.id">
          {{ patient.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <ng-container [formGroupName]="getFormArrayName">
      <div class="form-stepper" fxLayout="column" fxLayoutGap="20px" *ngFor="let group of groups; let i=index">
        <h3>{{ group.group }}</h3>

        <ng-container [formArrayName]="group.id" *ngFor="let question of questionsFromGroup(group.id)?.controls; let qi = index">
          <mat-accordion [formGroupName]="qi">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ question.value.question }}</mat-panel-title>
                <mat-panel-description>
                  <span></span>
                  <mat-icon>{{ question.hasError('required', ['response']) ? 'error' : 'check_circle' }} </mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <ng-template matExpansionPanelContent>
                <mat-form-field>
                  <input matInput #title formControlName="response" [maxLength]="200" required type="text" autocomplete="off" [placeholder]="'form.answer' | translate" />
                  <mat-error *ngIf="question.hasError('required',['response'])">{{ 'form.validation.required' | translate }}</mat-error>
                </mat-form-field>
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
      </div>

      <div class="btn-actions">
        <div fxFlex.lg="100" align="end">
          <button type="submit" mat-flat-button color="primary">{{ 'commom.save' | translate }}</button>
        </div>
      </div>
    </ng-container>
  </div>
</form>