<!-- <form [formGroup]="formGroup" (submit)="formSubmit()">
  <div class="form-stepper">
    <div fxLayout="column" fxLayoutGap="20px" *ngFor="let group of groups">
      <h3>{{ group.group }}</h3>

      <mat-accordion formArrayName="formArrayQuestions">
        <mat-expansion-panel [id]="group.id" *ngFor="let question of group.questions">
          <mat-expansion-panel-header>
            {{ question.question }}
          </mat-expansion-panel-header>

          <ng-template matExpansionPanelContent>
            <mat-form-field>
              <input matInput #title [formControlName]="question.id" [maxLength]="200" required type="text" autocomplete="off" />
              <mat-error *ngIf="formArrayQuestions.hasError('required',[question.id])">{{ 'form.validation.required' | translate }}</mat-error>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div align="end">
    <button type="button" mat-button matStepperPrevious>{{ 'commom.back' | translate }}</button>
    <button type="button" mat-flat-button color="primary" matStepperNext>{{ 'commom.next' | translate }}</button>
  </div>
</form> -->
