<app-title icon="library_add_check" title="survey.title"></app-title>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="formGroupResponsible">
    <ng-template matStepLabel>{{ 'responsible.title' | translate }}</ng-template>
    <app-responsible-tabs #responsibleTabs [formGroup]="formGroupResponsible"></app-responsible-tabs>
  </mat-step>

  <mat-step [stepControl]="formGroupQuestions">
    <ng-template matStepLabel>{{ 'question.title' | translate }}</ng-template>
    <app-responses [formGroup]="formGroupQuestions" [responsible]="responsibleTabs.responsible" [patients]="responsibleTabs.patients" [stepper]="stepper"></app-responses>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{ 'commom.done' | translate }}</ng-template>
    <p>You are now done.</p>

    <!-- <div align="end">
      <button mat-button matStepperPrevious>Back</button>
      <button type="button" mat-flat-button color="primary" matStepperNext>{{ 'commom.save' | translate }}</button>
    </div> -->
  </mat-step>
</mat-horizontal-stepper>
