<div>
  <app-title icon="library_add_check" title="survey.title">
    <img class="logo" [src]="logo?.logo" alt="logo">
  </app-title>

  <mat-vertical-stepper [linear]="true" #stepper>
  
    <mat-step>
      <ng-template matStepLabel>{{ 'responsible.title' | translate }}</ng-template>
      <app-responsible-step>
      </app-responsible-step>
    </mat-step>
  
    <mat-step *ngFor="let group of groups">
      <ng-template matStepLabel>{{ group.group }}</ng-template>
      <app-generic-step [group]="group" [types]="types">
      </app-generic-step>
    </mat-step>
  
  </mat-vertical-stepper>
</div>
