form {
    .mat-form-field-wrapper {
        width: 90% !important;
    }
}

.button-card-float{
    float: right;
    top: -70px;
}

mat-card { 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
