form {
    .mat-form-field-wrapper {
        width: 90% !important;
    }
}

.query-footer{
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
}
.button-card-float{
    float: right;
    top: -70px;
}