<form [formGroup]="formGroup" (submit)="formSubmit()">
  <mat-tab-group #matTabGroup dynamicHeight [selectedIndex]="0">
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'responsible.identification.title' | translate }}
      </ng-template>
      <app-responsible #appResponsible [formGroup]="formGroup" (tabChange)="selectTabChange($event)"></app-responsible>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'responsible.patients.title' | translate }}
      </ng-template>
      <app-patient #appPatient [formGroup]="formGroup" (tabChange)="selectTabChange($event)"></app-patient>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'responsible.contacts.title' | translate }}
      </ng-template>
      <app-contacts #appContact [formGroup]="formGroup" (tabChange)="selectTabChange($event)" (saveAll)="formSubmit()"></app-contacts>
    </mat-tab>
  </mat-tab-group>
</form>