<div [formGroup]="formGroup">
  <ng-container [formArrayName]="getFormArrayName">
    <div class="form-stepper" fxLayout.xs="column" fxLayout.lg="row" fxLayoutGap="20px" *ngFor="let patient of formContactArray.controls; let i = index">
      <ng-container [formGroupName]="i">
        <div fxFlex.lg="50">
          <mat-form-field>
            <mat-select [placeholder]="'responsible.contacts.contact_type' | translate" formControlName="type" >
              <mat-option *ngFor="let c of contactsType" [value]="c.type">
                {{ c.label | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patient.hasError('required',['type'])">{{ 'form.validation.required' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex.lg="50">
          <mat-form-field>
            <input #contact matInput [placeholder]="'responsible.contacts.contact' | translate" maxLength="100" formControlName="contact" required autocomplete="off"/>
            <mat-hint align="end">{{ contact.value.length}} / {{ contact.maxLength }}</mat-hint>
            <mat-error *ngIf="patient.hasError('required',['contact']) && !(patient.hasError('required',['contact']))">{{ 'form.validation.required' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex.lg="4" fxFlex.xs="50">
          <button type="button" mat-icon-button (click)="removeContact(i)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div class="btn-actions">
      <div fxFlex.lg="100" align="start">
        <button type="button" mat-flat-button (click)="addContact()">
          <mat-icon>add</mat-icon> {{ 'commom.add_new' | translate }}
        </button>
      </div>

      <div fxFlex.lg="100" align="end">
        <button type="button" mat-button (click)="tabChange.emit(0)">{{ 'commom.back' | translate }}</button>
        <button type="submit" mat-flat-button color="primary">{{ 'commom.save' | translate }}</button>
      </div>
    </div>
  </ng-container>
</div>
