<div [formGroup]="formGroupResponsible">
  <div class="form-stepper" fxLayout.xs="column" fxLayout.lg="row" fxLayoutGap="20px">
    <div fxFlex.lg="46">
      <mat-form-field>
        <input #name matInput [placeholder]="'responsible.identification.name' | translate" maxLength="100" formControlName="name" required autocomplete="off" >
        <mat-error *ngIf="formGroupResponsible.hasError('required',['name'])">{{ 'form.validation.required' | translate }}</mat-error>
      </mat-form-field>
    </div>

    <div fxFlex.lg="46">
      <mat-form-field>
        <mat-select [placeholder]="'responsible.identification.parental_degree' | translate" formControlName="parentalDegree" >
          <mat-option *ngFor="let p of parentalDegree" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroupResponsible.hasError('required',['parentalDegree'])">{{ 'form.validation.required' | translate }}</mat-error>
      </mat-form-field>
    </div>
  </div>

</div>
