<app-title icon="library_add_check" title="survey.title"></app-title>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{ 'survey.stepper.identificatin.title' | translate }}</ng-template>

      <mat-form-field>
        <mat-label>{{ 'survey.stepper.identificatin.title' | translate }}</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'survey.stepper.identificatin.title' | translate }}</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'survey.stepper.identificatin.title' | translate }}</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'survey.stepper.identificatin.title' | translate }}</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'survey.stepper.identificatin.title' | translate }}</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <div align="end">
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{ 'survey.stepper.questions.title' | translate }}</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>

      <div align="end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{ 'survey.stepper.done.title' | translate }}</ng-template>
    <p>You are now done.</p>

    <div align="end">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!-- <form [formGroup]="formGroup" (ngSubmit)="formSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout.lg="row" fxLayoutGap="20px">
        <div fxFlex.lg="50">
          <mat-form-field>
            <input matInput #title formControlName="group" [maxLength]="200" required type="text" [placeholder]="'group.form.group' | translate" autocomplete="off" />
            <mat-hint align="end">{{title.value.length}} / {{title.maxLength}}</mat-hint>
            <mat-error *ngIf="formGroup.hasError('required',['group'])">{{'form.validation.required' | translate}}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex.lg="50">
          <mat-form-field>
            <input matInput #order formControlName="order" type="text" [placeholder]="'form.order' | translate" autocomplete="off" />
            <mat-error *ngIf="formGroup.hasError('pattern',['order'])">{{'form.validation.required' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button type="button" mat-flat-button [routerLink]="['/','appointment','groups']">
        {{ 'commom.back' | translate }}
      </button>

      <button mat-flat-button color="primary">
        {{ 'commom.save' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form> -->
