<app-title icon="poll" [title]="title">
  <button *ngIf="showNewButton; else back_button" [disabled]="!patient" mat-flat-button color="primary"
    (click)="onNew()">{{ 'app_title.new' | translate }}</button>

  <ng-template #back_button>
    <button mat-flat-button color="primary" (click)="onBack()">{{ 'commom.back' | translate }}</button>
  </ng-template>

</app-title>

<app-appointment-query-select [onSelect]="doSelect" [selectedPatientId]="selectedPatientId">
</app-appointment-query-select>

<div *ngIf="patient">
  <p>Patient Name: {{patient.name}}</p>
  <p>Birth Date: {{patient.birth | date}}</p>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>