<app-title icon="poll" [title]="group ? 'group.form.edit' : 'group.form.new'"></app-title>

<form [formGroup]="formGroup" (ngSubmit)="formSubmit()">
  <mat-card>
    <mat-card-content>
      <div fxLayout.xs="column" fxLayout.lg="row" fxLayoutGap="20px">
        <div fxFlex.lg="50">
          <mat-form-field>
            <input matInput #title formControlName="group" [maxLength]="200" required type="text" [placeholder]="'group.form.group' | translate" autocomplete="off" />
            <mat-hint align="end">{{title.value.length}} / {{title.maxLength}}</mat-hint>
            <mat-error *ngIf="formGroup.hasError('required',['group'])">{{ 'form.validation.required' | translate }}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex.lg="50">
          <mat-form-field>
            <input matInput #order formControlName="order" type="text" [placeholder]="'form.order' | translate" autocomplete="off" />
            <mat-error *ngIf="formGroup.hasError('pattern',['order'])">{{ 'form.validation.required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="btn-actions" align="end">
      <button type="button" mat-flat-button [routerLink]="['/','appointment','groups']">
        {{ 'commom.back' | translate }}
      </button>

      <button mat-flat-button color="primary">
        {{ 'commom.save' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
