<h3>Last Appointments</h3>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" *ngIf="appointments;else templateName">


  <mat-card fxFlex.xl="calc(33%-20px)" fxFlex.lg="calc(33%-20px)" fxFlex.md="calc(50%-20px)"
    *ngFor="let appointment of appointments">
    <mat-card-header>
      <mat-card-title>{{appointment.description}}</mat-card-title>
      <mat-card-subtitle>Date {{ appointment.date | date:'short' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button (click)="detail(appointment)" class="button-card-float" mat-button>Detail</button>
    </mat-card-actions>
  </mat-card>


</div>
<ng-template #no_appointments>
  <br>
  No recent appointments!
</ng-template>